doctype html
html
  head
    meta(charset="UTF-8")
    title #{location.name}
    link(rel="stylesheet", href="/static/ui.css")
  body
    include menu.pug
    main
      h1 Welcome to the #{location.name} #{location.emojis || ''}
      p Where to go next?
      each conn in location.connections
        button(onclick=`window.location.href='/location?locID=${conn.conn_id}'`) #{conn.conn_name}
