html
  head
    link(rel="stylesheet", href="/static/gamepage.css")
    title #{location.name}
  body
    .top-left-buttons
      button#exit-button.btn Exit game
    .container
      .title
        h1 Welcome to the #{location.name}
      .description 
        p #{location.description}
      .image
        img(src=`/static/img/${location.name}.png`)
      .actions
          each conn in location.connections
            button.btn(onclick=`window.location.href='/location?locID=${conn.conn_id}'`) #{conn.conn_name}

      .inventory
        button#inventory-button.btn Inventory
        #inventory-container.inventory-container
          h3 Player inventory
          p No items in inventory
      .stats
        p HP: #{stats.HP}
        p XP: #{stats.XP}
        p Level: #{stats.level}

script(src="/static/logic.js")
